@txt(name: String, label: String, t: String = "text", placeholder: Option[String] = None) = {
  <div class="control-group">
    <label class="control-label" for="@name">@label</label>
    <div class="controls">
      <input type="@t" id="@name" name="@name" placeholder="@placeholder">
    </div>
  </div>
}

<h2>What's your problem?</h2>

<form class="form-horizontal">
  @txt("question", "Question")
  @txt("version", "Play version")
  @txt("lang", "Lang")

  <button class="btn btn-primary">Submit</button>
</form>